/* styles.css */


/* Define your custom scrollbar styles */


/* WebKit */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
    /* You can change this to the desired background color */
}

::-webkit-scrollbar-thumb {
    background: transparent;
    /* You can change this to the desired scrollbar color */
}


/* Firefox */


/* Define your custom scrollbar styles for Firefox */


/* You might need to use -moz- prefix for Firefox */

* {
    scrollbar-color: #6366f1 #f1f1f1;
    /* thumb and track color */
    scrollbar-width: thin;
    /* scrollbar width */
}